*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
   
}

body{
    font-family: 'Lato', sans-serif;
    background-image: url(../images/Zebra-3D-Grey-Seamless-Pattern-For-Website-Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="column-here-"] {
    float: left;
    /*padding: 10px;*/
}


[class*="column-here-"] {
    width: 100%;
}


/* For tablets: ______________________________________________________________________________________*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {

/* For tablets: ______________________________________________________________________________________*/


    .column-here-s-1 {width: 8.33%;}
    .column-here-s-2 {width: 16.66%;}
    .column-here-s-3 {width: 25%;}
    .column-here-s-4 {width: 33.33%;}
    .column-here-s-5 {width: 41.66%;}
    .column-here-s-6 {width: 50%;}
    .column-here-s-7 {width: 58.33%;}
    .column-here-s-8 {width: 66.66%;}
    .column-here-s-9 {width: 75%;}
    .column-here-s-10 {width: 83.33%;}
    .column-here-s-11 {width: 91.66%;}
    .column-here-s-12 {width: 100%;}
}

/* For desktop: __________________________________________________________________________________________*/

@media only screen and (min-width: 961px) and (max-width: 2000px){

/* For desktop: __________________________________________________________________________________________*/

.header{

    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 170px;

}

.center-header{
    background-image: url(../images/paint_splatter_by_wmaltbyart-d5whaev.jpg);
}
.row-top{
    height: 50px;
    color: white;
}

.slogan, .slogan > p{
    text-align: right;
}
.contact-us, .contact-us > p{
    text-align: center;

}

.address-details, .address-details > p{
    text-align: left;
}    

.address{
    
}

.navbar-center{
    margin: auto;
    margin-left: 30px;
    margin-top: 30px;
}
.navigation > ul > li {
display: inline-block;
/*margin-top: 40px;*/
/*margin-left: 2px;*/
padding: 5px;
background-color: grey;

}


.navigation > ul > li > a{
text-decoration: none;
color: white;
font-size: 20px;

}

.membership > a > li{
    display: inline-block;
    color: white;

}

.left-row-top{

    /*background-color: black;*/
    text-align: center;
    color: white
}

.right-row-top{

    text-align: center;
    color: white
}


.center-row-top{
   text-align: center;
   color: black
   border-right: 2px solid white;

}

.logo > img{
    height: 100px;
    float: right;
    /*margin-right: 15px;*/
    /*margin-top: 10px;*/


}

.border-line{
    /*margin: 15px;*/
    height: 10px;
    background-color: black;
}

                                                                                                                                                                                                                                                                                                                        
/*container-demo------------------------------------------------------------------------------*/



.container-demo{
    /*margin-top: 20px;*/
/*    margin-left: 200px;
    margin-right: 200px;*/

    background-color: #D1EDF4;

     
}

.second-container > h1{
    font-size: 60px;
    font-weight: bolder;
    font-family: 'Barrio', cursive;
}

.second-container{
    height: 300px;
    background-color: #D1EDF4;
    
}

.second-container > h1, p{
    text-align: left;
    margin-top: 50px;


}

.right-container{

    
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;

}


.start-order{

    padding-top: 100px;
}

  /* Make the image fully responsive */
  .carousel-inner img {

      margin-top: 50px;
      margin-bottom: 50px;
      width: 100%;
      height: 500px;
      border-radius: 50px;
}


.img-slides{
       height: 100%;
       width: 100%; 


}

/*container-items------------------------------------------------------------------------------*/

.container-items{

    /*margin: 0 50px 0 50px;*/
    padding: 0;
    min-height: 10px;
    background-color: #EC8382;
}

.work-flow{
    text-align: center;
    padding: 20px;
}

.first-con-item{
    margin: 0 25px 0 15px;
}
.second-con-item > .card > img{
    width: 100%

}

.card{
margin:10px 10px 10px 10px;
}
/*categories------------------------------------------------------------------------------*/

.categories{

    min-height: 100px;
    padding: 0;
    background-color: #F9EBA5;
}

.categories-items{
    min-height: 100px;
    
    /*margin: 10px 10px 10px 10px;*/
    margin-bottom: 0;
}
.categories-items > .left-categories > ul > a > li{
    list-style: none;
    margin-left: 10px;
    border-bottom: 1px solid rgba(220,222,227,.7);


}

.left-categories{
    min-height: 100%;
}
.left-categories > ul > a{
    

}

.categories-items > .center-categories > ul > a > li{
    list-style: none;
    margin-left: 10px;
    border-bottom: 1px solid rgba(220,222,227,.7);

}

.center-categories > .caption > img{
    height: 100%;
    width: 100%;
}

.categories-items > ul {
    width: 200px;
    padding: 20px;
}

.categories-items a {
    background-color: white;
    color: black;
    display: block;
    padding: 5px;
    text-decoration: none;

}

.categories-items a:hover {
    background-color: #ccc;
    text-decoration: none;
}

.categories-items a.active {
    background-color: #4CAF50;
    color: white;
}

.right-categories > ul > li{
    list-style: none;
    margin: 0 auto;
    border-bottom: 1px solid rgba(220,222,227,.7);
    border-top: 1px solid rgba(220,222,227,.7);
    border-left: 1px solid rgba(220,222,227,.7);
    border-right: 1px solid rgba(220,222,227,.7);

    display: inline-block;
    padding: 0;

}

.right-categories > ul > li > img{
    height: 160px;
    width: 150px;
    padding: 0;
    margin: 10px;
}



.center-categories{

    height: 390px;
    width: 70%;
    position: relative;
    text-align: center;
    color: white;
    font-size: 50px;
}


.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.center-categories > .caption > img{
     max-width: 100%;
     min-height: 390px;

}
.caption:after{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
background: -webkit-linear-gradient(280deg, rgba(171, 186, 171, 0.99) 0%, rgba(0, 0, 0, 0.36) 35%, rgba(59, 59, 59, 0.1) 50%, rgba(255, 255, 255, 0.99) 100%);
background: -o-linear-gradient(280deg, rgba(171, 186, 171, 0.99) 0%, rgba(0, 0, 0, 0.36) 35%, rgba(59, 59, 59, 0.1) 50%, rgba(255, 255, 255, 0.99) 100%);
background: -ms-linear-gradient(280deg, rgba(171, 186, 171, 0.99) 0%, rgba(0, 0, 0, 0.36) 35%, rgba(59, 59, 59, 0.1) 50%, rgba(255, 255, 255, 0.99) 100%);
background: -moz-linear-gradient(280deg, rgba(171, 186, 171, 0.99) 0%, rgba(0, 0, 0, 0.36) 35%, rgba(59, 59, 59, 0.1) 50%, rgba(255, 255, 255, 0.99) 100%);
background: linear-gradient(170deg, rgba(171, 186, 171, 0.99) 0%, rgba(0, 0, 0, 0.36) 35%, rgba(59, 59, 59, 0.1) 50%, rgba(255, 255, 255, 0.99) 100%);


}



/*footer------------------------------------------------------------------------------*/

.footer{
    height: 300px;
    /*background-color: black;*/
    background-image: url(../images/paint_splatter_by_wmaltbyart-d5whaev.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;


}


    .column-here-1 {width: 8.33%;}
    .column-here-2 {width: 16.66%;}
    .column-here-3 {width: 25%;}
    .column-here-4 {width: 33.33%;}
    .column-here-5 {width: 41.66%;}
    .column-here-6 {width: 50%;}
    .column-here-7 {width: 58.33%;}
    .column-here-8 {width: 66.66%;}
    .column-here-9 {width: 75%;}
    .column-here-10 {width: 83.33%;}
    .column-here-11 {width: 91.66%;}
    .column-here-12 {width: 100%;}


}



