*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}



body{
    font-family: 'Lato', sans-serif;
    background-image: url(../images/Zebra-3D-Grey-Seamless-Pattern-For-Website-Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="column-here-"] {
    float: left;
    /*padding: 10px;*/
}


[class*="column-here-"] {
    width: 100%;
}


/* For tablets: ______________________________________________________________________________________*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {

/* For tablets: ______________________________________________________________________________________*/


    .column-here-s-1 {width: 8.33%;}
    .column-here-s-2 {width: 16.66%;}
    .column-here-s-3 {width: 25%;}
    .column-here-s-4 {width: 33.33%;}
    .column-here-s-5 {width: 41.66%;}
    .column-here-s-6 {width: 50%;}
    .column-here-s-7 {width: 58.33%;}
    .column-here-s-8 {width: 66.66%;}
    .column-here-s-9 {width: 75%;}
    .column-here-s-10 {width: 83.33%;}
    .column-here-s-11 {width: 91.66%;}
    .column-here-s-12 {width: 100%;}
}

/* For desktop: __________________________________________________________________________________________*/

@media only screen and (min-width: 768px) and (max-width: 2000px){

/* For desktop: __________________________________________________________________________________________*/

.navbar{

    background-color: #231F20;
    min-height: 100px;
    margin: 0;

}


.collapse > ul > li {
display: inline-block;
/*margin-top: 40px;*/
margin: 40px 50px 0 50px ;

/*background-color: grey;*/

}


.collapse > ul > li > a{
text-decoration: none;
color: white;
font-size: 15px;

}


.logo > a > img{
    height: 150px;
    /*float: right;*/
    /*margin-right: 15px;*/
    /*margin-top: 10px;*/

}



.navbar{
    background-color: #231F20;
}

.collapse > ul{
    text-align: center;
   
}

.border-line{
    /*margin: 15px;*/
    height: 10px;
    background-color: black;
}



.pink-splash{
    height: 300px;
    top: 300px;
    left: 800px;
    position: absolute;
}

                                                                                                                                                                                                                                                                                                                        
/*container-demo------------------------------------------------------------------------------*/


.container-demo{

    background-color: #D1EDF4;
    height: 700px;

}

.container-demo > .row {
    overflow: hidden;
    width: 100%;
}


.second-container > h1{
    font-size: 55px;
    font-weight: bolder;
    font-family: 'Barrio', cursive;
}

.second-container{
    height: 300px;
    background-color: #D1EDF4;
    
}

.second-container > h1, p{
    text-align: left;
    margin-top: 50px;
    position: relative;

}

.right-container{

    
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;

}


.start-order{
    
    padding-top: 100px;
    z-index: 1;
}


.carousel{
    /*margin-right: 30px;*/
}

  /* Make the image fully responsive */
.carousel-landingpage img {

      margin-top: 100px;
      margin-bottom: 50px;
      width: 100%;
      height: 380px;
      border-radius: 50px;
}


.img-slides{
       height: 100%;
       width: 100%; 


}

#black-splash{
    height: 300px;

    top: 700px;
    left: 10px;
    position: absolute;
    
}

/*container-items------------------------------------------------------------------------------*/

.container-items{

    /*margin: 0 50px 0 50px;*/
    /*padding: 0;*/
    /*min-height: 10px;*/
    background-color: #EC8382;

}

.container-items > .row{
    margin-left: 150px;
    margin-right: 150px;
    /*min-height: 600px;*/
    min-width: 700px;
}

.work-flow{
    text-align: center;
    padding: 20px;
}

.first-con-item{
    /*margin: 0 25px 0 15px;*/
}
.second-con-item, .third-con-item, .fourth-con-item{
    

}

.fifth-con-item {
    /*width: 500px;*/

}

#z-splash{

  
    z-index: 2;

    height: 300px;

    top: 700px;
    left: 900px;
    position: absolute;
}

#color-splash{


    height: 150px;

    top: 50px;
    left: 1000px;
    position: absolute;
}


/*for hover effect---------------------------------*/

/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
    font-family: 'codropsicons';
    src:url('../fonts/codropsicons/codropsicons.eot');
    src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/codropsicons/codropsicons.woff') format('woff'),
        url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
        url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

.grid {
    /*padding: 5px 5px 5px 5px;*/
    min-width: 100%;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.grid li {
    display: inline-block;
    width:  100%;

    padding: 10px;
    text-align: left;
    position: relative;
}

.grid figure {
    width:  100%;
    position: relative;
}

figure > img {
    height: 270px;
    width: 100%;
}

.grid figure img {

    display: block;
    position: relative;

}

.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    background: #2c3f52;
    color: #ed4e6e;
    width:  100%;
}

.grid figcaption h3 {
    margin: 0;
    padding: 5px;
    color: #fff;
}

/*.grid figcaption span:before {
    content: 'by ';
}*/

.grid figcaption h2 {
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #ed4e6e;
    color: #fff;
}

/* Caption Style 5 */
.cs-style-5 figure img {
    z-index: 10;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}

.no-touch .cs-style-5 figure:hover img,
.cs-style-5 figure.cs-hover img {
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -ms-transform: scale(0.4);
    transform: scale(0.4);
}

.cs-style-5 figcaption {
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    -moz-transition: -moz-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
}

.no-touch .cs-style-5 figure:hover figcaption,
.cs-style-5 figure.cs-hover figcaption {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.cs-style-5 figure h2 {
    position: absolute;
    bottom: 20px;
    right: 20px;
}


/*end for hover effect-----------------------------*/




/*categories------------------------------------------------------------------------------*/

.contact-section{
    /*overflow: hidden;*/
    min-height: 700px;
    /*padding: 0;*/
    background-color: #F9EBA5;
}

.left-contacts{
    text-align: left;
    margin-left: 100px;
    margin-top: 20px;
}


.left-contacts > form{
    margin-top: 40px;
}


.right-reviews{
  /*margin-right: 70px;*/
    margin-left: 100px;
}

.right-reviews{
    text-align: left;
    margin-left: 130px;
    margin-top: 20px;
}

.right-reviews > .card{
    margin-top: 44px;
}

.right-reviews > .card-2{
    margin-top: 20px;
}

.avatar{
    background-image: url(../images/chicago.jpg);
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin: 20px 0 0 60px;
}

.review-details{
    padding: 20px;
    margin-left: 20px;
}

.form-row{
    margin-top: 15px;
}

.page-numbers{
    margin-top: 15px;
}

/*border-line-------------------------------------------------------------------------*/




/*footer------------------------------------------------------------------------------*/

.footer{
    height: 300px;

    background-image: url(../images/paint_splatter_by_wmaltbyart-d5whaev.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}

.left-footer-1{
    margin-left: 170px;
    margin-top: 20px;
    color: white;

}

.left-footer-2{
    margin-top: 20px;
    color: white;

}

.left-footer-3{
    margin-top: 20px;
    color: white;

}

.left-footer-1 > .career > ul > li, .left-footer-2 > .customer-service > ul > li,
.left-footer-3 > .z-trends > ul > li{
    list-style: none;
    color: white;
}

.left-footer-1 > .career > ul > li > a, .left-footer-2 > .customer-service > ul > li > a,
.left-footer-3 > .z-trends > ul > li > a{
    text-decoration: none;
    color: white;
}

.red-splash{
    height: 150px;
    /*top: 100px;*/
    left: 1500px;
    /*position: absolute;*/
}



.center-footer{
    margin-top: 20px;   
}
.center-footer > ul{
    margin: 0;
    padding: 0;
}

.center-footer > ul li{
    list-style: none;
    margin: 0 10px;
    display: inline-block;

    /*background-color: lor: rgb(66, 103, 178);*/
}

.center-footer > ul li a .fab{
    font-size: 30px;
    color: #4267b2;
    /*line-height: 50px;*/
    transition: .5s;
    text-align: center;
}

.center-footer > ul li a .fa-facebook-f{
    color: #4267b2;
}

.center-footer > ul li a .fa-instagram{
    color: #c32aa3;


}

.center-footer > ul li a .fa-twitter{
    color: #1da1f2;

}


.center-footer > ul li a{
    text-align: center;
    transition: .5s;
    
}

.center-footer > ul li a:hover {
    box-shadow: -20px 20px 10px rgba(0,0,0,1);
}


/*About-Page------------------------------------------------------------------------------------*/



.container-demo-about{

    background-color: #D1EDF4;
    min-height: 1200px;


}

.left-container-about{
    margin-left: 150px;
    margin-top: 100px;
    border-right: 0.5px solid black;
    padding: 20px;

}

.right-container-about{
    margin-right: 150px;
    margin-top: 40px;

}

.right-container-about > img{
   height: 70%;
   width: 70%;
   padding: 50px;

}

.container-demo > .row-about {
    /*overflow: hidden;*/
    width: 100%;
}

.row-about{
    /*clear: both;*/
    margin: 0 auto;
}


.second-container > h1{
    font-size: 55px;
    font-weight: bolder;
    font-family: 'Barrio', cursive;
}

.second-container{
    height: 300px;
    background-color: #D1EDF4;
    
}

.second-container > h1, p{
    text-align: left;
    margin-top: 50px;
    position: relative;

}

.right-container{

    
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;

}



/*Contact-Page------------------------------------------------------------------------------------*/



.container-demo-contact{

    background-color: #EC8382;
    min-height: 1000px;


}

.left-container-contact{
    margin-left: 150px;
    margin-top: 100px;
    border-right: 0.5px solid black;
    padding: 20px;

}

.address, .contact-numbers, .e-mail{
    padding-top: 20px;
    
}

.business-hours{

    margin-top: 70px;
}



.right-container-contact{
    margin-right: 150px;
    margin-top: 40px;

}

.right-container-contact > iframe{
   min-height: 100%;
   width: 100%;

   margin-left: 50px;
   margin-top: 50px;
   /*padding: 50px;*/

}

.container-demo > .row-contact {
    /*overflow: hidden;*/
    width: 100%;
}

.row-contact{
    /*clear: both;*/
    margin: 0 auto;
}


.fas{
    font-size: 30px;
}


/*Products And Services----------------------------------------------------------------------------------------*/


/*container-demo------------------------------------------------------------------------------*/


.product-carousel{
    
    /*background-color: #D1EDF4;*/
    height: 1900px;

}

.product-carousel{
    overflow: hidden;
    width: 100%;
}


.second-container > h1{
    font-size: 55px;
    font-weight: bolder;
    font-family: 'Barrio', cursive;
}

.second-container{
    height: 300px;
    background-color: #D1EDF4;
    
}

.second-container > h1, p{
    text-align: left;
    margin-top: 50px;
    position: relative;

}

.right-container{

    
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;

}


.carousel{
    /*margin-right: 30px;*/
}

  /* Make the image fully responsive */
.carousel-prod-services img {

      /*margin-top: 100px;*/
      /*margin-bottom: 50px;*/
      width: 100%;
      height: 100%;
      /*border-radius: 50px;*/
}


.img-slides{
       height: 100%;
       width: 100%; 


}


.carousel-item{
    background-image: url(../images/pepper-lunch-shirt.jpg);
}


    .column-here-1 {width: 8.33%;}
    .column-here-2 {width: 16.66%;}
    .column-here-3 {width: 25%;}
    .column-here-4 {width: 33.33%;}
    .column-here-5 {width: 41.66%;}
    .column-here-6 {width: 50%;}
    .column-here-7 {width: 58.33%;}
    .column-here-8 {width: 66.66%;}
    .column-here-9 {width: 75%;}
    .column-here-10 {width: 83.33%;}
    .column-here-11 {width: 91.66%;}
    .column-here-12 {width: 100%;}




}
