*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
   
}

body{
    font-family: 'Lato', sans-serif;
    background-image: url(../images/Zebra-3D-Grey-Seamless-Pattern-For-Website-Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="column-here-"] {
    float: left;
    /*padding: 10px;*/
}


[class*="column-here-"] {
    width: 100%;
}


/* For tablets: ______________________________________________________________________________________*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {

/* For tablets: ______________________________________________________________________________________*/


    .column-here-s-1 {width: 8.33%;}
    .column-here-s-2 {width: 16.66%;}
    .column-here-s-3 {width: 25%;}
    .column-here-s-4 {width: 33.33%;}
    .column-here-s-5 {width: 41.66%;}
    .column-here-s-6 {width: 50%;}
    .column-here-s-7 {width: 58.33%;}
    .column-here-s-8 {width: 66.66%;}
    .column-here-s-9 {width: 75%;}
    .column-here-s-10 {width: 83.33%;}
    .column-here-s-11 {width: 91.66%;}
    .column-here-s-12 {width: 100%;}
}

/* For desktop: __________________________________________________________________________________________*/

@media only screen and (min-width: 768px) and (max-width: 2000px){

/* For desktop: __________________________________________________________________________________________*/

.header{

    background-color: #231F20;
    height: 170px;

}

.row-top{
    height: 50px;
    color: white;
}

.slogan, .slogan > p{
    text-align: left;
    font-size: 10px;
}
.contact-us, .contact-us > p{
    text-align: left;
    font-size: 13px;

}

.address-details, .address-details > p{
    text-align: left;
    font-size: 13px;
}    

.address{
    font-size: 13px;
}

.navbar-center{
    margin: auto;
    margin-left: 30px;
    margin-top: 30px;
}
.navigation > ul > li {
display: inline-block;
/*margin-top: 40px;*/
/*margin-left: 2px;*/
padding: 5px;
background-color: grey;

}


.navigation > ul > li > a{
text-decoration: none;
color: white;
font-size: 15px;

}

.membership > a > li{
    display: inline-block;
    color: white;

}

.left-row-top{

    /*background-color: black;*/
    text-align: center;
    color: white
}

.right-row-top{

    text-align: center;
    color: white
}


.center-row-top{
   text-align: center;
   color: black
   border-right: 2px solid white;

}

.logo > a > img{
    height: 100px;
    float: right;
    /*margin-right: 15px;*/
    /*margin-top: 10px;*/

}

.navbar > img{
    height: 50px;
    float: right;
    /*margin-right: 15px;*/
    /*margin-top: 10px;*/

}

.navbar{
    background-color: #231F20;
}

.collapse > ul{
    text-align: center;
   
}

.border-line{
    /*margin: 15px;*/
    height: 10px;
    background-color: black;
}

                                                                                                                                                                                                                                                                                                                        
/*container-demo------------------------------------------------------------------------------*/


.container-demo{

    background-color: #D1EDF4;
    height: 700px;

}

.container-demo > .row {
    overflow: hidden;
    width: 100%;
}


.second-container > h1{
    font-size: 55px;
    font-weight: bolder;
    font-family: 'Barrio', cursive;
}

.second-container{
    height: 300px;
    background-color: #D1EDF4;
    
}

.second-container > h1, p{
    text-align: left;
    margin-top: 50px;
    position: relative;

}

.right-container{

    
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;

}


.start-order{
    
    padding-top: 100px;
    z-index: 1;
}


.carousel{
    /*margin-right: 30px;*/
}

  /* Make the image fully responsive */
  .carousel-inner img {

      margin-top: 50px;
      margin-bottom: 50px;
      width: 100%;
      height: 380px;
      border-radius: 50px;
}


.img-slides{
       height: 100%;
       width: 100%; 


}

#black-splash{
    height: 300px;

    top: 700px;
    left: 10px;
    position: absolute;
    
}

/*container-items------------------------------------------------------------------------------*/

.container-items{

    /*margin: 0 50px 0 50px;*/
    padding: 0;
    min-height: 10px;
    background-color: #EC8382;
}

.container-items > .row{
    margin-right: 0;
}

.work-flow{
    text-align: center;
    padding: 20px;
}

.first-con-item{
    margin: 0 25px 0 15px;
}
.second-con-item > .card > img{
    width: 100%

}

.third-con-item > .card > img{
    width: 100%

}

.fourth-con-item > .card > img{
    width: 100%

}

.fifth-con-item > .card > img{
    width: 100%

}

.card{
margin:5px 5px 5px 5px;
/*background-color: #EC8382;*/

}

.card > img{
    height: 100%;
    width: 100%;
    z-index: 1;
}

#z-splash{

  
    z-index: 2;

     height: 300px;

    top: 700px;
    left: 900px;
    position: absolute;
}

#color-splash{


    height: 150px;

    top: 50px;
    left: 1000px;
    position: absolute;
}


/*categories------------------------------------------------------------------------------*/

.categories{

    min-height: 100px;
    padding: 0;
    background-color: #F9EBA5;
}

.contact{
    text-align: center;
    padding: 20px;
}



/*footer------------------------------------------------------------------------------*/

.footer{
    height: 300px;
    /*background-color: black;*/
    background-image: url(../images/paint_splatter_by_wmaltbyart-d5whaev.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}


    .column-here-1 {width: 8.33%;}
    .column-here-2 {width: 16.66%;}
    .column-here-3 {width: 25%;}
    .column-here-4 {width: 33.33%;}
    .column-here-5 {width: 41.66%;}
    .column-here-6 {width: 50%;}
    .column-here-7 {width: 58.33%;}
    .column-here-8 {width: 66.66%;}
    .column-here-9 {width: 75%;}
    .column-here-10 {width: 83.33%;}
    .column-here-11 {width: 91.66%;}
    .column-here-12 {width: 100%;}


}



/*About-Page------------------------------------------------------------------------------------*/



.container-demo-about{

    background-color: #D1EDF4;
    min-height: 1200px;
    width: 100%;

}

.left-container-about{
    margin-left: 150px;
    margin-top: 100px;

}

.right-container-about{
    margin-right: 150px;
    margin-top: 100px;

}

.right-container-about > iframe{
   height: 350px;
   width: 450px;

}

.container-demo > .row-about {
    /*overflow: hidden;*/
    width: 100%;
}

.row-about{
    /*clear: both;*/
    margin: 0 auto;
}


.second-container > h1{
    font-size: 55px;
    font-weight: bolder;
    font-family: 'Barrio', cursive;
}

.second-container{
    height: 300px;
    background-color: #D1EDF4;
    
}

.second-container > h1, p{
    text-align: left;
    margin-top: 50px;
    position: relative;

}

.right-container{

    
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;

}


.start-order{
    
    padding-top: 100px;
    z-index: 1;
}


.carousel{
    /*margin-right: 30px;*/
}

  /* Make the image fully responsive */
  .carousel-inner img {

      margin-top: 50px;
      margin-bottom: 50px;
      width: 100%;
      height: 380px;
      border-radius: 50px;
}


.img-slides{
       height: 100%;
       width: 100%; 


}

#black-splash{
    height: 300px;

    top: 700px;
    left: 10px;
    position: absolute;
    
}


.about-carousel{
    /*margin-right: 30px;*/
}

  /* Make the image fully responsive */
  .about-carousel img {

      margin-top: 50px;
      margin-bottom: 50px;
      width: 100%;
      height: 500px;
      /*border-radius: 50px;*/
}
